@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@using GrupoLogin.DATA.Model.Enums;
@model GrupoLogin.WEB.Models.ListaProductosViewModel

}
<div class="container">
    @if(@TempData["Resultado"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h5>@TempData["Resultado"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        
    }
    <div class="d-flex justify-content-between mb-3">
        <h1>Lista de productos</h1>
        @if (Model.Rol == (int)Rol.Admin)
        {
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("RegistrarProducto", "Admin")'">Agregar Producto</button>
        }
        
    </div>


    <table class="table table-bordered">
        <thead style="background:#f0f0f0">
            <tr>
                @if (Model.Rol == (int)Rol.Admin)
                {
                    <th scope="col">Id</th>
                }
                
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>

                @if (Model.Rol == (int)Rol.Admin)
                {
                    <th scope="col"></th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Productos)
            {
                <tr>
                    @if (Model.Rol == (int)Rol.Admin)
                    {
                        <td>@item.Id</td>
                    }
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>$ @item.Precio</td>
                    <td>@item.Cantidad</td>
                    @if (Model.Rol == (int)Rol.Admin)
                    {
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" onclick="location.href='@Url.Action("EditarProducto", "Admin", new { id = item.Id })'" data-parametro="@item.Id" data-bs-toggle="tooltip" class="btn btn-outline-secondary btn-sm edit" title="" style=" margin-bottom: 6px;border:none"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-sm edit" data-bs-toggle="modal" data-bs-target="#exampleModal@(item.Id)" title="" style=" margin-bottom: 6px;border:none"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal@(item.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Desea eliminar este producto?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                @item.Nombre
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="button" onclick="location.href='@Url.Action("EliminarProducto", "Admin", new { id = item.Id })'" class="btn btn-primary">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
               
                        

                </tr>

            }
           
        </tbody>
    </table>
</div>
<script>


</script>

